extends ../shared/template

block content
  h1 Portfolio

  //- each project in projects
  //-   .title= project.title
  //-   .description= project.description
  //-   .git= project.git
  //-   .app= project.app
  //-   .date= project.date
  //-   .tags= project.tags
  //-   .photos= project.photos
  //-   .id= project.userId
