extends ../shared/template

block content

  .pure-g
    .pure-u-1
      h1.name About Kelley Stephens
    .pure-u-1.pure-u-md-5-24
    .pure-u-1.pure-u-md-7-12.about
      .shadow
      .aboutinfo
        p Born and raised in Nashville, TN.
        p Current student at the Nashville Software School.
        p I love challenging problems, networking with peers, and soaking up as much new information as I can!
    .pure-u-1.pure-u-md-5-24
