extends ../shared/template

block content
  .pure-g
    .pure-u-md-1-3.photo-box
      .aboutpic.pure-img
    .pure-u-1.pure-u-md-2-3
      h1.name.abouthead Kelley Stephens
      .about I'm a passionate web developer in Nashville, TN and am currently enrolled at the Nashville Software School, where I have completed the Javascript session and am currently working in Ruby on Rails. I love learning, problem solving & networking with others in the field.
      h1.name.abouthead Fun Facts About Me
      ul
        li I am a born and raised Nashvillian.
        li I am married to an amazing man.
        li I have a 150 lb great dane puppy.
        li I am, what some may call, a cheese dip-aholic.
        li My favorite movie is The Little Mermaid.
        li Zumba is my prefered workout method.
