extends ../shared/template

block content
  .pure-g
    .pure-u-1
      h1.name Contact Kelley Stephens
    .pure-u-1
      form.cbp-mc-form(action='/contact/send', method='post')
        .pure-u-1.pure-u-md-1-2
          label Name
          input(type='text', name='name', placeholder='John Doe')
          label Email
          input(type='email', name='email', placeholder='jdoe@email.com')
        .pure-u-1.pure-u-md-1-2
          label Additional Information
          textarea(name='msg')
        .pure-u-1
          .cbp-mc-submit-wrap: input.cbp-mc-submit(value='Send')
    .pure-u-1
      #overlay

block scripts
  script(src='/js/es6/compiled/contact.js')
