extends ../shared/template

block content
  .pure-g
    .pure-u-1
      h1.name Kelley Stephens
    .pure-u-1.pure-u-md-2-3.photo-box
      .indexImg1.pure-img: span Front End
    .pure-u-1.pure-u-md-1-3.photo-box
      .indexImg2.pure-img: span Back End
    .pure-u-1.pure-u-md-1-3.photo-box
      .indexImg3.pure-img: span Style
    .pure-u-1.pure-u-md-2-3.photo-box
      .indexImg4.pure-img: span UI / UX
